a{
    text-decoration: none;
    padding: 1rem;
}
a:hover{
    color: #17b80b;
}

#owner{
    margin-top: 50px;
    text-align: center;
}

form{
    border: 1px solid rgba(229,175,113,0.51);
    padding: 0.5rem; text-align: center;
    width: 400px; border-radius: 20px;
    box-shadow: 1px 1px 10px 12px rgba(0,0,186,0.42);
    background: rgba(0,0,186,0.16);
    margin-top: 30px;
    margin-left: 100px;

}