{% extends 'basee.html' %}
{% load static %}

{% block options %}
    <link rel="stylesheet" href="{% static 'css/owner.css' %}">
{% endblock %}

{% block title %}
    Owners
{% endblock %}

{% block body %}

<form style="" method="post">

    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить">
    </form>

    <div id="owner">
    {% for own in owner %}
        <h5>id: {{ own.id }}</h5>
        <h2 ><a class="owner" href="{% url 'owner' own.id  %}">{{ own.name }}</a></h2>
        <p>first_name: {{ own.first_name }}</p>
        <p>age: {{ own.age }}</p>
        <p>data: {{ own.date }}</p>
        <hr>
    {% endfor %}

{% endblock %}
</div>